In [1]:
import pandas as pd 
import numpy as np

In [33]:
#отображение всего датафрейма
pd.set_option('display.max_rows', None)

In [30]:
#отключить отображение всего датафрейма
pd.reset_option('display.max_rows')

In [16]:
df = pd.read_csv('./accident_normalized_text.csv')
df

,id,origin_id,keyword,location,text,target,text_normalized
0,0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive
1,1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near ronge sask canada
2,2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place being notified of...
3,3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
4,4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just photo ruby alaska smoke wildfire pours sc...
...,...,...,...,...,...,...,...
7608,7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,giant crane holding bridge collapse nearby home
7609,7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,control wild fire california northern part sta...
7610,7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,utc volcano hawaii
7611,7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,police investigating bike collided car little ...
7612,7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,latest home razed northern california wildfire...

In [17]:
duplicates = df['text_normalized'].duplicated()
print(df['text_normalized'][duplicates])

48                                             check nsfw
106     icemoon aftershock dubstep trapmusic dnb edm d...
114     icemoon aftershock dubstep trapmusic dnb edm d...
115     icemoon aftershock dubstep trapmusic dnb edm d...
116     icemoon aftershock dubstep trapmusic dnb edm d...
                              ...
7608      giant crane holding bridge collapse nearby home
7609    control wild fire california northern part sta...
7610                                   utc volcano hawaii
7611    police investigating bike collided car little ...
7612    latest home razed northern california wildfire...
Name: text_normalized, Length: 882, dtype: object

In [19]:
df.loc[df.duplicated(subset="text_normalized"), "text_normalized"] = np.nan
df

,id,origin_id,keyword,location,text,target,text_normalized
0,0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive
1,1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near ronge sask canada
2,2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place being notified of...
3,3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
4,4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just photo ruby alaska smoke wildfire pours sc...
...,...,...,...,...,...,...,...
7608,7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,NaN
7609,7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,NaN
7610,7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,NaN
7611,7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,NaN
7612,7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,NaN

In [24]:
df_no_dup = df.dropna(subset=['text_normalized'], inplace=False)

In [28]:
len(df_no_dup)

6730

In [31]:
df_nw = df_no_dup[['origin_id','text_normalized', 'target']]
df_nw

      origin_id                                    text_normalized  target
0             1           deed reason earthquake may allah forgive       1
1             4                 forest fire near ronge sask canada       1
2             5  resident asked shelter place being notified of...       1
3             6  people receive wildfire evacuation order calif...       1
4             7  just photo ruby alaska smoke wildfire pours sc...       1
...         ...                                                ...     ...
7601      10859  breaking refugio oil spill may costlier bigger...       1
7602      10860        siren just went wasn forney tornado warning       1
7603      10862  official say quarantine place alabama home pos...       1
7605      10864    flip side walmart bomb evacuate stay tuned blow       1
7606      10866  suicide bomber kill saudi security site mosque...       1

[6730 rows x 3 columns]

In [32]:
train_df = df_nw.sample(frac=0.75, random_state=42)  # 75% данных для тренировочного датасета
test_df = df_nw.drop(train_df.index)  # Оставшиеся 25% данных для тестового датасета

In [37]:
len(train_df)

5048

In [36]:
len(test_df)

1682